$black: #222;
$blue: #3381b7;
$green: #c3e29c;
$orange: #e35445;
$red: #e54d42;
$teal: #5fe0d6;

$lightestGray: #fafafa;
$gray: #ccc;

$fontFamily: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
